# PROTRACK CREDENTIALS
# --------------------
# Currently Active Protrack Account (Active testing context)
PROTRACK_ACCOUNT="your_account"
PROTRACK_PASSWORD="your_password"

# IOPGPS CREDENTIALS
# ------------------
# Currently Active IOPGPS Account (Active testing context)
IOPGPS_APPID="your_appid"
IOPGPS_PASSWORD="your_password"
